@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url(https://fonts.googleapis.com/css?family=Croissant+One:regular); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
  background: #010114;
  /* {font-family: "Croissant One", cursive;} */
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

body,
html {
  scroll-behavior: smooth;
}
